.banner {
  	/* 1. Set a background image */
  	background-image: 
  		/* Transparent gradient above */
    	linear-gradient(-225deg, rgba(0,0,0,2) 0%, rgba(0,0,0,0.1) 50%),
  		url(../../images/background-sdb.jpg);   
 	
 	/* 2. Make the background image cover the banner div */
	background-size: cover;     
 
  	/* 3. Center the image */
	background-position: center;
	
	/* add some padding top & bottom 150 px*/
	padding-bottom: 100px;
	padding-top: 100px;
}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}